#root {
  max-width: 1280px;
  margin: 0 auto;
  padding:  2rem;
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.task-zone{
  display: flex;
  gap: 5%;
  justify-content: center;
  padding-top: 25px;
}

.input-zone{
  display: flex;
  gap: 10px;
  padding-left: 95px;
}
