.task-item{
    width: 80%;
    border: solid 1px;
    border-radius: 10px;
    cursor: grab;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 10px;
    touch-action: none; /* Важно для мобильных устройств */
    user-select: none;
    transition: transform 0.1s ease;
    text-align: center;
    background-color: #242424;
}

.task-item.dragging {
  opacity: 0;
  background: #f0f0f0;
}

.task-item:active {
  cursor: grabbing;
}